@use "../base/variables" as *;

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-main);
    background-image: url("../assets/images/bg-pattern-top.svg"), url("../assets/images/bg-pattern-bottom.svg");
    background-position: right 45vw bottom 45vh, 45vw 45vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    overflow-y: hidden;
}

footer {
  margin-top: toRem(60px);
}