@use "../base/variables" as *;

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    overflow-y: hidden;
}

footer {
  margin-top: toRem(60px);
}