@use "../base/variables" as *;

.card {
    background-color: #fff;
    width: min(90%, 325px);
    margin: 0 auto;
    border-radius: toRem(15px);
    z-index: 1;
    box-shadow: 0 49px 113px 4px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 49px 113px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 49px 113px 4px rgba(0,0,0,0.15);

    &__bg {
        height: toRem(140px);
        background-image: url("../assets/images/bg-pattern-card.svg");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__image {
        border-radius: 50%;
        position: relative;
        top: toRem(-50px);
        border: 5px solid white;
    }

    &__person {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: var(--dark-gray);
    }

    &__person-info {
        margin-top: toRem(-30px);
    }

    &__person-name {
        font-weight: 700;
        font-size: toRem(20px);
        color: var(--dark-blue);
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    &__stat {
        display: flex;
        justify-content: space-evenly;
        color: var(--dark-gray);
        padding: 25px 0;
        margin-top: toRem(20px);
        border-top: 1px solid var(--border-color);
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &__number {
        color: var(--dark-blue);
        font-weight: 700;
        font-size: toRem(20px);
    }

    &__label {
        font-size: toRem(10px);
        letter-spacing: 2px;
        font-weight: 700;
        margin-top: -15px;
    }
}